* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#nav {
    width: 100%;
    height: 120px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 0 100px;
    gap: 44px;
    position: fixed;
    z-index: 99;
}

#nav img {

    height: 67px;
}

#nav h4 {

    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 520;
    text-transform: uppercase;
    color: white;

}

video {

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
}

#box1 {
    position: relative;
    display: flex;
    background-color: black;
    height: 45px;
    width: 160px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2.4px solid #95c11e;
}


#box2 {
    position: relative;
    display: flex;
    background-color: black;
    height: 45px;
    width: 160px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2.4px solid #95c11e;

}

#box2:hover{
    background-color: #95c11e;
}
#box2:hover h4{
    color: black;
} 

#box1:hover{
    background-color: #95c11e;
}
#box1:hover h4{
    color: black;
} 

#cursor {

    height: 23px;
    width: 23px;
    background-color: #95c11e;
    position: fixed;
    z-index: 99;
    border-radius: 50%;
    pointer-events: none;

}

#cursor-blur {

    height: 220px;
    width: 220px;
    background-color: #667c29;
    position: fixed;
    z-index: 99;
    border-radius: 50%;
    filter: blur(125px);
    pointer-events: none;

}


#main {
    position: relative;
    background-color: rgb(0, 0, 0, 0.28);
}

#main #page1 {

    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

#page1 h1 {

    font-size: 96px;
    font-weight: 900;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
    text-shadow: black -4.8px -4.8px 3.2px;

}

#page1 h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    padding-bottom: 13px;
    font-size: 29px;
    text-shadow: black 3.2px 4px 2px;
}

#page1 p {
    color: white;
    width: 40%;
    line-height: 24px;
    text-shadow: black 1.8px 1.8px 1px;
}


#page2 {

    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#scroller {

    white-space: nowrap;

    animation-name: scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

#scroller h4 {

    white-space: nowrap;
    font-size: 100px;
    font-weight: 900;
    display: inline-block;
    padding-right: 50px;
    text-transform: uppercase;
    color: transparent;
    transition: all linear 0.4;
    -webkit-text-stroke: 1.9px white;

}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller h4:hover {

    color: #95c11e;
    -webkit-text-stroke: 1.9px #95c11e;
}

@keyframes scroll {

    from {
        transform: translateX(100);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2 #aboutus {

    height: 40vh;
    width: 100%;
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;
    padding-top: 140px;

}

#aboutus img {

    height: 200px;
    width: 150px;
    margin: 50px;
    border-radius: 20px;
}

#aboutus #aboutus_text {
    text-align: center;

    width: 800px;
    align-items: center;
    justify-content: center;
    color: white;

}

#aboutus_text h1 {

    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 17px;
}

#aboutus_text h4 {

    justify-content: center;
    align-items: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
}

#cards_container {
    height: 70vh;
    width: 100%;

    margin-top: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 71px;

}

.cards {
    height: 87%;
    width: 300px;

    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

#card1 {

    background-image: url(https://images.pexels.com/photos/7758348/pexels-photo-7758348.jpeg?auto=compress&cs=tinysrgb&w=600);

}

#card2 {

    background-image: url(https://images.pexels.com/photos/192320/pexels-photo-192320.jpeg?auto=compress&cs=tinysrgb&w=600);
}

#card3 {

    background-image: url(https://images.pexels.com/photos/1325661/pexels-photo-1325661.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.card_text {

    width: 100%;
    height: 100%;
    background-color: #95c11e;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 10px;
    text-transform: uppercase;
    opacity: 0;
    transition: all ease 0.6;

}

.card_text h1 {
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-shadow: -3.8px -3.8px 1px black;
}

.card_text h4 {
    padding-top: 15px;
    font-weight: 500;
}

.cards:hover .card_text {
    opacity: 1;

}

.cards:hover {
    transform: rotate3d(-1, -1, 0, 30deg);
}

#green_div {

    margin-top: 65px;
    display: flex;
    height: 40vh;

    position: relative;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #40c507ac, rgb(240, 217, 8));
}

#green_div h3 {

    color: black;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    padding-top: 70px;
    width: 50%;
    line-height: 56px;
}

#page3 {

    min-height: 100vh;
    width: 100%;
}

#about_food{
    height: 500px;
    width: 100%;
    display: flex;
}

#slider {

    margin-top: 90px;
    height: 400px;
    width: 490px;
    position: relative;
    overflow: hidden;
    margin-left: 70px;


}

#slides {
    display: flex;
    height: 100%;
    width: calc(490px * 3);
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

#slides img {

    width: 490px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 30px;
}

@keyframes slide {

    0%,
    20% {
        transform: translateX(0);
    }

    40%,
    60% {
        transform: translateX(-490px);
    }

    80%,
    100% {
        transform: translateX(-980px);
    }

}

#text {

    color: white;
    width: 40%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    padding: 30px 0px;
    margin-left: 100px;
    margin-right: 50px;
    
}

#text h1{
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 56px;
}

#text h3{
    font-weight: 200;
    line-height: 30px;
}

#box3 {
    position: relative;
    display: flex;
    background-color: black;
    height: 45px;
    width: 160px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2.4px solid #95c11e;
    margin-top: 25px;
    margin-left: 30px;
}

#box3:hover{
    background-color: #95c11e;
}

#box3:hover h3{
   color: black;
}